.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 380px;
}

.wrapper input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  flex: 1;
}

.wrapper button {
  background-color: white;
  border: 0;
  font-size: 18px;
  height: 30px;
  /* width: 40px; */
  margin-left: 10px;
  cursor: pointer;
}
